@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
.wrap_orders {
    width:100%;
    margin : 0 auto;
}
.container {
    width:1200px;
    margin:0 auto;
    overflow: hidden;
    height:auto;
    text-align: center; 
}
.container > .size {
    text-align: left;
}
table {border : 1px solid #d3d3d3; border-collapse: collapse;}

.container > .size > .text{  
    text-align: left;  
    padding:5px 0;
    font-size: 15px;   
    color:black;
    width: 1200px;
    border-bottom: 1px solid black;
}  

.container > .size > .text > .list {
	text-align: center;
}

/* 최근배송지/주소록 영역 CSS */
.putAddrWrap .putAddrLft {
    float: left;
    margin-top: 2px;
}

.putAddrWrap .putAddrRgt {
    margin-left: 33px;
    color: #555;
}

.putAddrWrap .putAddrRgt .grayTxt {
    color: #999;
}
