.sub {
	width : 100%;
	margin : 0 auto;
}
.sub > .sub_visual {
	position:relative;
	background-size: cover;
}
.slogan {
	font-size:35px;
	text-align:center;
	line-height:100px;
	color:black;
	width:100%;
	padding-top: 50px;
}
.sub {
	position:relative;
}
.sub > .size {
	width: 1200px;
	margin : 0 auto;
	font-size: 10px;
}
.sub > .size .calendar {
	border: 1px solid #c0c0c0;
	height: 180px;
	text-align:center;
	font-size: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
}


.underClendar  input {
	height: 30px; 
	background-color: white;
	border: 1px solid black	;
}


.findorder input[id="searchbtn"] {
	display: inline-block; 
	background-color: #c8c8c8; 
	color: white; 
	height: 35px; 
	width: 80px; 
	font-size: 15px; 
	line-height: 30px;
	border: 1px solid black;
	cursor: pointer;
}

.findorder input[id="findbox"]{
	width: 480px;
	maxlength: 10; 
	height: 35px;
	padding-top: 10px; 
	padding-bottom: 10px;
}
.sub > .size .calendar>.findorder td{
	text-align:center;
	font-size: 15px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.sub > .size > .box {
	padding:0 px;
	margin: 0px;
	color: black;
	width: 1200px;
	font-size:15px;
}
.text {
    text-align: left;  
    padding:5px 0;
    font-size: 12px;   
    color:black;
    width: 1200px;
}

 a {
	font-size:12px;
	color: #5c5c5c;
	font-weight: bold;
	margin: 5px 0px 0px 0px;
}


.sub > .size > .box p {
	font-size:10px;
	width: 1200px;
	text-align:center;
}
	
.sub > .size > .box .title {
	font-size:25px;
	color:#808080;
}

.under {
	width: 1200px;
	padding: 0px;
	margin: 0px;
}

.under a {
	font-size:15px;
	color: white;
	border: 0.5px solid #c0c0c0;
	background-color: #c0c0c0;
	padding: 3px 10px 3px 10px;
}
.table {
	padding-bottom: 0px;
}

.type {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  margin: 5px 0px 0px 0px;
  font-size: 13px;
  border: 0.5px solid #808080;
  width:1200px;
}
.type thead {
  background: #ffffff;
  color: black;
}

.type thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #000000;
  background-color: #f4f4f4;
  border-bottom: black;
  
}
.type tbody th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 0.5px solid #c0c0c0;
  background: #ffffff;
}
.type td {
  vertical-align: middle;
  border-bottom: 0.5px solid #c0c0c0 ;
  margin:0 auto;
}

 .section {
    width:31.333333%;
    margin:1%;
}



	